<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Item type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @evaluation_session.name %></td>
      <td><%= @evaluation_session.description %></td>
      <td><%= @evaluation_session.item_type %></td>
    </tr>
  </tbody>
</table>
<% # if this evaluation_session has criteria associated with it, display the following table %>
<table>
  <thead>
    <tr>
      <th> <%= @evaluation_session.item_type %> </th>
      <% @criteria.each do |criterion| %>
        <th><%= criterion.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <% @criteria.each do |criteria| %>
        <td>
          <%= simple_form_for [item, item.ratings.build] do |f| %>
            <%= f.association :criterion, as: :hidden, value: item %>
            <%= f.input :grouping %>
            <%= f.button :submit %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Add criterion", new_evaluation_session_criterion_path(@evaluation_session), class: 'button' %>
